SOURCE=telegram

TOKEN=YOUR_TELEGRAM_TOKEN

CHAT_BASE=https://t.me/ILIA_Task_Manager_bot

QR_SECRET=YOUR_SECRET

QR_API_URL=https://api.qrserver.com/v1/create-qr-code/

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

CELERY_RESULT_BACKEND=redis://redis:6379/1